#home-container
  .row
    .col-lg-12.video-presentation
      = "My video presentation"

  .row
    .col-lg-12.step1
      STEP 1

  .row
    .col-lg-12.step2
      STEP 2

  .row
    .col-lg-12.step3
      STEP 3
